@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

@keyframes float {
  0%, 100% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(12px, -36px);
  }
}
